<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetaria</title>
    <link rel="stylesheet" href="/cafetaria.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section id="Home">
        <nav>
            <div class="logo">
                <img src="/logo.png">
            </div>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Order">Order</a></li>
                <li><a href="#Contact Us">Contact Us</a></li>
            </ul>
        </nav>
        <div class="main">
            <div class="men_text">
                <h1>Get Fresh<span>Food</span><br>in a Easy Way</h1>
            </div>
            <div class="main_image">
                <img src="/main_img.png">
            </div>
        </div>
        <p>
            Welcome to the heart of Brac University – our vibrant cafeteria! A bustling hub for students and faculty alike, it's where delicious aromas meet lively conversations, creating the perfect backdrop for both relaxation and intellectual exchange.
        </p>
        <div class="main_btn">
            <a href="#Order">Order Now</a>
            <i class="fa-solid fa-angle-right"></i> 
        </div>
    </section>

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Choosing this cafeteria at Brac University offers more than just dining; it's about embracing a vibrant community space that enhances the 
                    university experience. Here, quality meets variety in a menu that spans global and local cuisines, ensuring every taste is delighted. The
                    ambiance is tailored for comfort and interaction, making it ideal for both quick bites and leisurely meals. It's a place where culture, 
                    conversation, and cuisine intertwine, providing a welcoming atmosphere for all. Moreover, its convenient location at the heart of the 
                    campus makes it an accessible spot for rejuvenation between classes, making it a natural choice for students and faculty alike.
                </p>
            </div>
        </div>
        <a href="#Order" class="about_btn">Order Now</a>
    </div>

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>
        <div class="menu_box">
            <div class="menu_card">
                <div class="menu_image">
                    <img src="/buger.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Burger</h2> 
                    <h3>TK.120</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 
            <div class="menu_card">
                <div class="menu_image">
                    <img src="/pasta.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Pasta</h2>
                    <h3>TK.100</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/gallary_3.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Chocolate Cup Cake</h2>
                    <h3>TK.50</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/chocolate_Drink.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Chocolate Milkshake</h2>
                    <h3>TK.80</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/pizza.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Pizza</h2>
                    <h3>TK.250</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/Hot_dog.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Hot Dog</h2>
                    <h3>TK.80</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/juse.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Drinks</h2>
                    <p>
                       Mango/Strawberry/Lemon
                    </p>
                    <h3>TK.60</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/biryani.webp">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Biryani</h2>
                    <h3>TK.160</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/chocolate.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Chocolate</h2>
                    <h3>TK.20 (PER PIECE)</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/ice_cream.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Ice Cream</h2>
                    <p>
                        Mango/Strawberry/Chocolate/Mint/Vanila
                    </p>
                    <h3>TK.100</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/Spanchi.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Muffin Cake</h2>
                    <h3>TK.40</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/sandwich.jpg">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <h3>TK.70</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#Order" class="menu_btn">Order Now</a>
                </div>
            </div> 
        </div>
    </div>

    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>
        <div class="order_main">
            <div class="order_image">
                <img src="/order_image.png">
            </div>
            <form action="#">
                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name">
                </div>
                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email">
                </div>
                <div class="input">
                    <p>Student ID</p>
                    <input placeholder="24******">
                </div>
                <div class="input">
                    <p>Quantity</p>
                    <input type="number" placeholder="how many order">
                </div>
                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>
                <div class="input">
                    <p>Details about food</p>
                    <input placeholder="Flavour-Spicy">
                </div>
                <a href="#" class="order_btn">Order Now</a>
            </form>
        </div>
    </div>

    <footer>
        <div class="Contact Us" id="Contact Us">
            <h1><span>Contact</span>Us</h1>
            <div class="footer_main">
                <div class="footer_tag">
                    <h2>Location</h2>
                    <p>6th Floor</p>
                    <p>Brac University</p>    
                </div>
                <div class="footer_tag">
                    <h2>Contact</h2>
                    <p>+8801749750554</p>
            
                    <p>bracu.contact@gmail.com</p>
                </div>

                <div class="footer_tag">
                    <h2>Follows</h2>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>