<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/parkingContact.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,900&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Parking Contact</title>
</head>
<body>
	<div class="container">
		<main class="row">
			
			<section class="col left">

				<div class="contactTitle">
					<h2>Get In Touch</h2>
					<p>For any inquiries or feedback of our cafetaria, please feel free to contact us using the information below:</p>
				</div>

				<div class="contactInfo">
					
					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-phone"></i>
						</div>
						<div class="details">
							<span>Phone</span>
							<span>+8809638464646</span>
						</div>
					</div>

					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-envelope"></i>
						</div>
						<div class="details">
							<span>Email</span>
							<span>BracParking@bracu.ac.bd</span>
						</div>
					</div>

					<div class="iconGroup">
						<div class="icon">
							<i class="fa-solid fa-location-dot"></i>
						</div>
						<div class="details">
							<span>Location</span>
							<span><a href="https://www.google.com/maps/place/BRAC+University/@23.7739808,90.4249603,17z/data=!4m14!1m7!3m6!1s0x3755c7715a40c603:0xec01cd75f33139f5!2sBRAC+University!8m2!3d23.7801463!4d90.4071704!16s%2Fg%2F120vm_vk!3m5!1s0x3755c78e49160331:0x2fd8ec432cec9fc4!8m2!3d23.7724697!4d90.4253472!16s%2Fg%2F11bz0l_sh5?entry=ttu" style="color:#2b2b2b;">KHA 224, Progati Sarani, Merul Badda, Dhaka 1212</a></span>
						</div>
					</div>

				</div>

				<div class="socialMedia">
					<a href="https://www.facebook.com/BRACUniversity/"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="https://twitter.com/bracuniversity?lang=en"><i class="fa-brands fa-twitter"></i></a>
					<a href="https://bd.linkedin.com/school/brac-university/"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
			</section>

			<section class="col right">

				<form class="messageForm" action="https://formsubmit.co/abrargroad2000@gmail.com" method="POST" />
					<div class="inputGroup halfWidth">
						<input type="text" name="name" required="required">
						<label for = "name">Your Name</label>
					</div>

					<div class="inputGroup halfWidth">
						<input type="email" name="email" required="required">
						<label for = "email">Email</label>
					</div>

					<div class="inputGroup fullWidth">
						<input type="text" name="subject" required="required">
						<label for = "subject">Subject</label>
					</div>

					<div class="inputGroup fullWidth">
						<textarea name = "message" required="required"></textarea>
						<label id = "message">Say Something</label>
					</div>

					<div class="inputGroup fullWidth">
						<button type = "submit">Send Message</button>
					</div>
				</form>
			</section>
		</main>
	</div>
	<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
</body>
</html>
