<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Routine</title>
  <link rel="stylesheet" href="/routine.css">
</head>
<body>

  <h2>Thyn Schedule</h2>

  <div id="search-container">
    <input type="text" id="course-search" placeholder="Search for a course...">
    <div id="search-results"></div>
  </div>

  <table>
    <tr>
      <th>Time/Period</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    <tr>
      <td>8:00 - 9:20</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>9:30 - 10:50</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 12:20</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:30 - 1:50</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2:00 - 3:20</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function showSearchResults() {
      try {
        const response = await axios.get('/auth/api/courses');
        const courses = response.data;
        const searchInput = document.getElementById("course-search");
        const searchQuery = searchInput.value.toLowerCase();
        

        const matchingCourses = courses.filter(course => course.CourseName.toLowerCase().includes(searchQuery));

        const searchResultsContainer = document.getElementById("search-results");
        searchResultsContainer.innerHTML = "";

        if (searchQuery === "") {
          searchResultsContainer.style.display = "none";
        } else if (matchingCourses.length === 0) {
          searchResultsContainer.textContent = "No matching courses found.";
          searchResultsContainer.style.display = "block";
        } else {
          matchingCourses.forEach(course => {
            const courseButton = document.createElement("div");
            courseButton.textContent = `${course.CourseName} Section ${course.Section}`;
            courseButton.classList.add("search-result-item");
            searchResultsContainer.appendChild(courseButton);

            courseButton.addEventListener('click', function() {
              const selectedCourse = {
                courseName: course.CourseName,
                section: course.Section
              }
              sendCourseData(selectedCourse)
              
            })
          });
          searchResultsContainer.style.display = "block";
        }
      } catch (error) {
        console.error('Error fetching user data:', error);
      }
    }

    async function sendCourseData(course) {
      try {
        const response = await axios({
            method: 'post',
            url: '/auth/api/courseSelected',
            data: {
                courseDetails: course
            }
        });
      } catch (error) {
        if (error.response.status === 401) {
          alert('You are not logged in. Please log in to continue.');
        } else if (error.response.status === 404) {
          alert('You have already taken this course');
        } else {
          console.error('Error Sending Data', error);
        }
      }
    }

    document.getElementById("course-search").addEventListener("input", showSearchResults);
  </script>

</body>
</html>
