<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charet = "UTF -8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "/successSubmit.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <title>PURCHASED</title>
    </head>

    <body>

        <div class = "popup center">
            <div class = "title">
                Purchased Ticket!
            </div>
            <div class="description">
                Thanks for purchasing ticket!!
            </div>
            <div class = "redirect-btn">
                <button id = "redirect-popup-btn" type = "button" onclick = "location.href ='/'">
                    Redirect to Homepage.
                </button>
            </div>
        </div>
        <div class="center"></div>

    </body>
</html>