body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    width: 80%; 
    max-width: 800px; 
}

.post {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

.post-title {
    color: #096394;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post-text {
    color: #333;
}

.comments {
    margin-top: 20px;
}

h3 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-form {
    text-align: center;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.comment-form button {
    background-color: #096394;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #1792d2;
}

hr {
    border: none;
    border-top: 2px solid #096394; 
    margin: 20px 0;
    width: 100%;
}

#commentsContainer {
    margin-top: 20px;
}

.comments-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-header {
    display: flex;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.comment-header-item {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.comment-item {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.comment-data {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.comment-data:first-child {
    border-right: 1px solid #ddd;
}