body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/parking-background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #007BFF;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

#nav-link {
    font-size: 25px;
    font-weight: 550;
    background-color: rgb(0, 0, 0);
    color: #007BFF;
}

.lni-car{
    font-size: 35px;
    color: #007BFF;
}

form{
    width: 17rem;
}

.form-label{
    color: #007BFF;
}

.form-control:focus, .form-control {
    padding:5px; 
    border:2px solid #007BFF; 
    -webkit-border-radius: 1px;
    border-radius: 5px;
    background-color: #000000;
    color: #62d7ec;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
-webkit-box-shadow: 0 0 0 30px rgb(3, 3, 3) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #62d7ec !important;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      } 

#parkingtable{
    color: #007BFF;
    border-color: #007BFF;
    font-size: 13px;
    width: 14rem;
}

th{
    font-size: 15px;
    width: 30rem;
    font-weight: 500;
}

#receipttable{
    color: #007BFF;
    width: 30rem;
    font-size: 13px; 
}

.table{
    color: #007BFF;
    border-color: #007BFF;
    width: 30rem;
}

#parkingHead{
    color: #007BFF;
    font-size: 25px;
    text-align: center;
    border-style:solid ;
    border-color: #007BFF;
    border-radius: 10px;
    padding: 20px;
    width: 30rem;
}

#receiptHead{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 5rem;
    border-style:solid ;
    border-color: #007BFF;
    border-radius: 10px;
    padding: 20px;
    background-color: #62d7ec;
    width: 30rem;
}

#receiptDescription{
    color: #007BFF;
    font-size: 11px;
}

.modal-dialog, .modal-content{
    width: 22rem;
    background-color: black;
}

#closeBtn{
    color:black;
    background: red;
    font-weight: 600;
    font-size: 12px;
}

#footer{
    color: #007BFF;
    text-align: center;
    font-size: 15px;
}