<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/busTicket.css">
</head>
<body>

<div class="container">
    <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">Student Information</h3>
                <div class="inputBox">
                    <span>Full Name :</span>
                    <input type="text" placeholder="Zarin Tasnim Raisa">
                </div>
                <div class="inputBox">
                    <span>Student ID :</span>
                    <input type="number" placeholder="21381452">
                </div>
                <div class="inputBox">
                    <span>Email :</span>
                    <input type="email" placeholder="example@g.bracu.ac.bd">
                </div>
                <div class="inputBox">
                    <span>Phone number  :</span>
                    <input type="number" placeholder="01749750321">
                </div>
                <div class="inputBox">
                    <span>Bus time :</span>
                    <input type="time" placeholder="">
                </div>
            </div>
            <div class="col">
                <h3 class="title">payment</h3>
                <div class="inputBox">
                    <span>Select your mode of Payment method</span>
                    <div class="payment-buttons">
                        <button type="button" class="payment-btn" id="bkashBtn">bkash</button>
                        <button type="button" class="payment-btn" id="nagadBtn">nagad</button>
                    </div>
                </div> 
                <div class="inputBox">
                    <span>Transaction ID :</span>
                    <input type="text" placeholder="Q2NwYH6nVP">
                </div>
            </div>
    
        </div>

        <input type="submit" value="proceed to checkout" class="submit-btn">

    </form>

</div>    
    
</body>
</html>