<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/routine.css">
    <title>Time Table</title>
</head>
<body>
    <h1>TIME TABLE</h1>
    <table>
        <tr>
            <th></th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td><b>I<br>9:30-10:20</b></td>
            <td>Course</td>
            <!-- Add other courses as needed for each day and time slot -->
        </tr>
        <tr>
            <td><b>II<br>10:20-11:10</b></td>
            <td>Course</td>
            <!-- Add other courses as needed for each day and time slot -->
        </tr>
        <!-- Add more rows for each time slot -->
    </table>
</body>
</html>
