<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="../Public/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
</head>
<body>
    <div class="container">
        <div class = "popup">
            <div class="close-btn">&times;</div>
            <div class="form">
                <h2>Are you sure you want to log out?</h2>
                <button class="btn-2">Logout</button>
            </div>
        </div>

        <div class="leftbox">
            <nav>
                <a href="../View/userProfile.html" class = "active">
                    <i class = "fa fa-user"></i>
                </a>
                <a href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                 </a>
                 <a href="../View/userUpdate.html">
                    <i class="fa fa-pencil" aria-hidden="true"></i> 
                 </a>
                 <a href="#" id = "show-login">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> 
                 </a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile">
                <h1>Personal Info</h1>
                <h2>Full Name</h2>
                <p>Abrar Ahmed</p>
                <h2>Student ID</h2>
                <p>21301309</p>
                <h2>username</h2>
                <p>PhantomN3rd</p>
                <h2>Email</h2>
                <p>abrar@gmail.com</p>
                <h2>Phone</h2>
                <p>+8801749750959</p>
            </div>
        </div>
    </div>
    <footer>
        <p>Made by
            <a href="">Abrar Ahmed</a>.
        </p>
    </footer>
    <script src="../App/user.js"></script>
</body>
</html>